
    .bloc_a_propos{
        padding-top: 5vh;
        display: flex;
        background-color: #EFEFEF;
        
    }
    
    .bloc_moi_right{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    
    .bloc_moi_carte{
        text-align: left;
        background-color: white;
        margin: 0 16px;
        padding: 2vh;
        margin-top: 5vh;
        height: 50vh;
        border-radius: 3vh 3vh 3vh 3vh;
        width: 260px;
    }
        
    .bloc_moi_bottom{
        display: flex;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    
    .bloc_moi_rigth_top{
        font-size: 5vh;
        font-weight: bold;
        margin-top: 4vh;
        text-align: center;
    }
    
    .bloc_moi_rigth_bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 60px;
    }
    
    .lien{
        display: flex;
    }
    
    .lien_moi1 a:hover{
        color: #F08080;
    }
    
    .lien_moi a:hover{
        color: #F08080;
    }
    
    .titre_pro{
        font-size: 3vh;
        font-weight: bold;
    }
    
    .texte_pro{
        font-size: 3vh;
    }
    
    .titre_pro_L{
        font-size: 3vh;
        font-weight: bold;
    }
    
    .texte_a_propos{
        margin-Top:"5vh";
        font-Size:"3vh";
        text-align: center;
        padding: 10px;
    }
