

  .cv{
    padding-top: 5vh;
  }
  
  .Experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .bloc{
    border-radius: 2vh;
    height: 54vh;
    width: 350px;
    margin : 0 16px;
    margin-top: 5vh;
    text-align: left;
  }
  
  .titre{
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 4vh;
    font-weight: bold;
    font-size: 3.3vh;
    margin-bottom: 1vh;
  }
  
  
  .articles{
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 6vh;
    font-size: 3vh;
  }
  
  .bloc:hover{
    background-color: #F08080;
    color: white;
  }
  
  .expPro{
    font-Size:3vh;
    text-Align:center;
    font-Size:5vh;
    font-Weight:bold;
    margin-top:4vh;
  }
  
  .expProDescp{
    font-Size:3vh;
    text-align:center;
    font-Size:3vh;
  }

  @media all and (min-width : 769px) and (max-width : 1279px){

    .Experiences{
      flex-direction: column;
      padding-left: 0vh;
    }
  
    .cv{
      min-width: auto;
    }
  
    .bloc{
      margin-top: 1vh;
      border-radius: 2vh;
      height: 25vh;
      width: 700px;
      margin:2vh;
      margin-top: 2vh;
      margin-bottom: 2vh;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  
    }
  
    .expPro{
      font-Size:3vh;
      text-Align:center;
      font-Size:5vh;
      font-Weight:bold;
      margin-top:0vh;
    }
    
    .expProDescp{
      font-Size:3vh;
      text-align:center;
    }
  
    .titre{
      padding-top: 0vh;
    }
  }
  
  @media all and (min-width : 481px) and  (max-width : 768px) and (max-height : 699px){
    .bloc{
      height: 35vh;
    }
  }