

    .acceuil-middle-caintainer{
        display: flex;
        justify-content: center;
    }


    .acceuil-middle-bloc{
        width: 300px;
        height: 400px;

    }

    .acceuil-middle-left{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 300px;
        height: 400px;
    }

    .acceuil-middle-middle{
        margin-left: 200px;
        margin-top: 100px;
        width: 300px;
        height: 400px;
    }

    .acceuil-middle-right{
        margin-left: 200px;
        margin-top: 100px;
        width: 300px;
        height: 400px;
        
    }

    .acceuil-middle-caintainer{
        background-color: white;
    }

    .contact_portfolio{
        font-Size:11vh;
        width: 29vh;
        font-weight: bold;
        text-align: center;
        color:#F08080;
    }

    .contact-top-bottom-titre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  

@media all and (min-width : 769px) and (max-width : 1279px) and (max-height : 700px){
    .contact-top-bottom-option{
        display: none;
    }
}

@media all and (min-width : 769px) and (max-width : 1279px){
    .contact-top-bottom-option{
        display: none;
    }   
}