
.contact-top{
  background-color: rgb(12, 12, 12);
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;

}

.contact-top-bottom-option{
  display: flex;
  padding-bottom: 3vh;
  padding-top: 3vh;
  font-size: 3vh;
}

.contact-top-bottom-acceuil{
  margin-right: 30px;
  color: white;
}

.contact-top-bottom-contact{
  color:#F08080;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.contact-middle{
  background-color: #EFEFEF;
}

.contact-middle-Texte{
  padding-top: 20px;
  text-align: center;
}

.contact-middle-carte{
  display: flex;
  background-color: white;
  width: 45vh;
  height: 30vh;
  text-align: left;
  margin: 16px;
  border-radius: 3vh;
}

.contact-middle-images{
  width: 60px;
}

.row{
  display: flex;
  flex-direction: column;
}

.nav-navigation{
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: #0d0d0e;
}

.Logo{
  height: 80px;
  margin-top: -21px;
}

.nav-navigation-elements{
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  font-size: 3.3vh;
}

.couleut_texte{
  color: white;
}

.nav-contact{
  margin-left: 3vh;
}

.contact-middle-middle-textail, .contact-middle-left-infoAppel, .contact-middle-right-infolocation{
  padding: 1vh;
  margin-top: 2vh;
}

.contact-bottom{
  justify-content: center;
  margin-bottom: 2vh;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-bottom-left{
  width: 70vh;
  margin-left: 6vh;
  margin-top: 2vh;
  padding: 2vh;
}

.contact-bottom-right{
  margin-right: 5vh;
  margin-left: 5vh;
  margin-top: 2vh;
  height: 90vh;
  opacity: 0.4;
}


.bootstrap_option{
  display: none;
}

.last{
  background-Color:#050608;
  height:10vh;
}

.text_contacter_moi_hoje{
  color:#F08080;
  font-size : 3vh;
  margin-top: 3vh;
}

.texte_construisez_hoje{
  font-weight: bold;
  font-size: 4vh;
}

.text_contact{
  font-size: 3vh;
}


.contact-middle-left-texte{
  font-weight: bold;
  font-size: 3.3vh;
}

.contact-numero{
  font-size: 3vh;
}

.contact-middle-middle-texte{
  font-size: 3.3vh;
  font-weight: bold;
}

.contact-middle-middle-emailpro{
  font-size: 3vh;
}

.contact-middle-infollocation{
  font-weight: bold;
  font-size: 3.3vh;
}

.contact-middle-right-codepostal, .contact-middle-right-addresse{
  font-size: 3vh;
}

.contact-middle-middle-haut{
  display: flex;
  margin-left: 0vh;
}

.contact-middle-middle-bas{
  margin-left: 10vh;
}

@media all and (max-width : 480px){
  .nav-navigation-elements{
    display: none;
  }

  .contact-top-bottom-option{
    display: none;
  }

  .Logo_option{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .bootstrap_option{
    display: block;
  }

  .contact-bottom-right{
    display: none;
  }
}

@media all and (min-width : 480px) and (max-width : 768px){
      .nav-navigation-elements{
        display: none;
      }

      .contact-top-bottom-option{
        display: none;
      }

      .Logo_option{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .bootstrap_option{
        display: block;
      }

      .contact-bottom-right{
        display: none;
      }
}

@media all and (min-width : 769px) and (max-width : 1279px){
  .nav-navigation-elements{
    display: none;
  }

  .contact-top-bottom-option{
    display: none;
  }

  .Logo_option{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .bootstrap_option{
    display: block;
  }
}

@media all and (min-width : 481px) and  (max-width : 768px) and (max-height : 699px){
  .contact-middle-carte{
    width: 55vh;
  }

  .contact-bottom-right{
    display: block;
  }
}

/*

@media all and (min-width : 769px) and (max-width : 1279px){
  .contact-top-bottom-option{
    display: none;
  }

  

  .nav-navigation-elements{
    display: none;
  }

  .bootstrap_option{
    left: 90vh;
    width: 9vh;
    opacity: 1;
    bottom : 17vh;
  }

  .site{
    min-width: 100vh;
  }

  .Logo{
    bottom : 3vh;
    margin-left: 100px;
    right : 10vh;
  }

  .nav-navigation{
    height: 20vh;
  }

  .container{
    flex-direction: column;
    margin-left: 0vh;
  }

  .contact-middle{
    height: 90vh;
  }

  .contact-middle-middle-haut{
    display: flex;
    width: 96vh;
  }

  .contact-middle-middle-bas{
    margin-left: 25vh;
  }

  .contact-middle-left{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 0vh;
  }
  
  .contact-middle-middle{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 5vh;
  }
  
  .contact-middle-right{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 0vh;
  }

  .contact-bottom{
    margin-bottom: 0vh;
  }

  .contact-bottom-left{
    height: 82vh;
  }
  .contact-bottom-right{
    height: 82vh;
  }
}

@media all and (min-width : 769px) and (max-width : 1279px) and (max-height : 700px){
  .contact-top-bottom-option{
    display: none;
  }

  .site{
    min-width: 100vh;
  }

  
  .nav-navigation-elements{
    display: none;
  }

  .nav-navigation{
    height: 30vh;
  }

  .bootstrap_option{
    left: 120vh;
    width: 9vh;
    opacity: 1;
    bottom: 28vh;
  }

  .Logo{
    bottom : 8vh;
    margin-left: 130px;
    right : 10vh;
  }

  .contact-middle{
    height: 80vh;
  }

  .container{
    flex-direction: row;
  }

  .contact-middle-middle-haut{
    width: 150vh;
    height: 50vh;
    margin-left: 15vh;
  }

  .contact-middle-middle-bas{
    margin-left: 10vh;
  }


  .contact-middle-left{
    width: 47vh;
    height: 28vh;
  }
  
  .contact-middle-middle{
    margin-left: 10vh;
    width: 47vh;
    height: 28vh;
  }
  
  .contact-middle-right{
    width: 47vh;
    height: 28vh;
  }

  .contact-bottom{
    margin-bottom: 20vh;
  }

}

@media all and (min-width : 481px) and (max-width : 768px) and (min-height : 700px){
  .contact-top-bottom-option{
    display: none;
  }

  .site{
    min-width: 100vh;
  }

  .nav_contact{
    left: 0vh;
    opacity: 0;
  }

  .nav_acceuil{
    left: 0vh;
    opacity: 0;
  }

  .nav_a_propos{
    left: 0vh;
    opacity: 0;
  }

  .nav_experiences{
    left: 0vh;
    opacity: 0;
  }

  .nav-navigation{
    min-width: auto;
    height: 17vh;
  }

  .Logo{
    margin-left: 90px;
  }

  .container{
    flex-direction: column;
    margin-left: 0vh;
  }

  .contact-middle{
    height: 90vh;
  }

  .contact-middle-middle-haut{
    display: flex;
    width: 96vh;
  }

  .contact-middle-middle-bas{
    margin-left: 25vh;
  }

  .contact-middle-left{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 0vh;
  }
  
  .contact-middle-middle{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 5vh;
  }
  
  .contact-middle-right{
    display: flex;
    background-color: white;
    width: 47vh;
    height: 23vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 0vh;
  }

  .contact-bottom{
    margin-bottom: 0vh;
  }

  .contact-bottom-left{
    height: 82vh;
  }
  .contact-bottom-right{
    height: 82vh;
  }

  .bootstrap_option{
    opacity: 1;
    width: 11.3vh;
    height: 10vh;
    left: 80vh;
    bottom: 18vh;
  }
}

@media all and (max-width : 480px){
  
  .contact-top-bottom-option{
    display: none;
    margin-left: 9vh;
    font-size: 3vh;
  }

  .nav-navigation{
    flex-direction: column;
    height: 18vh;
  }

  .nav_contact{
    left: 0vh;
  }

  .nav_acceuil{
    left: 0vh;
  }

  .nav_experiences{
    left:0vh;
  }

  .nav_a_propos{
    left:0vh;
  }

  .Logo{
    margin-left: 10vh;
    margin-top: 5vh;
  }

  .Logo_option{
    display: flex;
  }

  .nav-navigation-elements{
    display: none;
    width: 0vh;
    opacity: 0;
  }

  .bootstrap_option{
    opacity: 10;
    width: 11.3vh;
    height: 10vh;
    left: 5vh;
    top: 8vh;
  }

  .contact-top-bottom-option{
    display: none;
    margin-left: 0vh;
    padding-bottom: 0vh;
    padding-top: 0vh;
    font-size:0vh;
    opacity: 0;
  }

  .contact-middle{
    height: 95vh;
  }

  .container{
    flex-direction: column;
  }

  .contact-middle-middle-haut{
    flex-direction: column;
    margin-left: 5vh;
  }
  
  .contact-middle-middle-bas{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-middle-left{
    display: flex;
    background-color: white;
    width: 35vh;
    height: 18vh;
    text-align: left;
    margin-top: 2vh;
    margin-left: 1.1vh;
  }
  
  .contact-middle-middle{
    display: flex;
    background-color: white;
    width: 35vh;
    height: 18vh;
    text-align: left;
    margin-top: 2vh;
    margin-left: 1.1vh;
  }
  
  .contact-middle-right{
    display: flex;
    background-color: white;
    width: 35vh;
    height: 18vh;
    text-align: left;
    margin-top: 2vh;
    margin-left:1.1vh;
  }

  .contact-bottom-left{
    margin-left: 0vh;
    margin-top: 0vh;
    padding-top: 0vh;
    width: 45vh;
  }

  .contact-bottom-right{
    display: none;
  }

  .contact-middle-Texte1{
      font-size: 1vh;
  }

  .text_contacter_moi_hoje{
    color:#F08080;
    font-size : 2vh;
    margin-top: 2vh;
  }

  .texte_construisez_hoje{
    font-weight: bold;
    font-size: 3vh;
  }

  .text_contact{
    font-size: 2.3vh;
  }

  .contact-middle-left-texte{
    font-weight: bold;
    font-size: 2.3vh;
  }

  .contact-numero{
    font-size: 2vh;
  }

  .contact-middle-middle-texte{
    font-size: 2.3vh;
    font-weight: bold;
  }

  .contact-middle-middle-emailpro{
    font-size: 2vh;
  }

  .contact-middle-infollocation{
    font-weight: bold;
    font-size: 2.3vh;
  }

  .contact-middle-right-codepostal, .contact-middle-right-addresse{
    font-size: 2vh;
  }

}

/*Telephone inversé
@media all and (min-width : 481px) and  (max-width : 768px) and (max-height : 699px){
  .nav-navigation{
    flex-direction: column;
    height: 35vh;
  }

  .nav-navigation-elements{
    display: none;
  }

  .contact-top-bottom-option{
    display: none;
    margin-left: 9vh;
    font-size: 3vh;
  }

  .Logo{
    margin-left: 10vh;
    margin-top: 3vh;
  }

  .container{
    margin-left: 15vh;
  }

  .bootstrap_option{
    opacity: 1;
    left: 155vh;
    bottom: 29vh;
  }

  .contact-middle-middle-haut{
    flex-direction: row;
    margin-left: 0vh;
  }

  .contact-middle-middle-bas{
    width: 50vh;
  }
}
*/