

#PSV{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 315px;
    width: 500px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding : 10px
}

#WSM{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    height: 365px;
    width: 500px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
}

.division{
    display: flex;
}

.eli{
    margin-top: 150px;
}

.k{
    display: flex;
    flex-direction: column;
}

.tete{
    text-align: center;
    background-color: rgb(181, 203, 212);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}

.txt{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.txt1{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.txt2{
    padding-left: 20px;
    padding-right: 20px;
    color :tomato;
}

.txt3{
    padding-left: 20px;
    padding-right: 20px;
}

.visite{
    margin-top: 20px;
    height: 60px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 2px;
}

@media all and (max-width: 1024px){
    .division{
        display: flex;
        flex-direction: column;
    }

    #PSV{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        height: 350px;
        width: 280px;
        box-shadow: 0px 2px 5px #1c1a19;
        border-radius: 5px;
        padding : 10px;
        margin-left: 1px;
    }
    
    #WSM{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        height: 400px;
        width: 280px;
        box-shadow: 0px 2px 5px #1c1a19;
        border-radius: 5px;
        padding: 10px;
        margin-left: 1px;
    }

    .visite{
        margin-top: 20px;
        width: 280px;
        height: 100px;
        box-shadow: 0px 2px 5px #1c1a19;
        border-radius: 5px;
        padding: 2px;
    }

    .txt{
        margin-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: medium;
    }
    
    .txt1{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: small;
    }
    
    .txt2{
        padding-left: 20px;
        padding-right: 20px;
        color :tomato;
        font-size: small;
    }
    
    .txt3{
        padding-left: 20px;
        padding-right: 20px;
        font-size: small;
    }

    .eli{
        margin-top: 5px;
    }
  }
  
  